# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_HOLYIOT_DONGLE_1K=y
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=n

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_SETTINGS=y

CONFIG_CLOCK_CONTROL_NRF=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y

CONFIG_GPIO=y
CONFIG_PINCTRL=y

CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_HID=y
CONFIG_USB_HID_POLL_INTERVAL_MS=1
CONFIG_USB_DEVICE_VID=0x0011
CONFIG_USB_DEVICE_PID=0x0007
CONFIG_USB_DEVICE_MANUFACTURER="efog.tech"
CONFIG_USB_DEVICE_PRODUCT="Dongle 1k"
CONFIG_USB_CDC_ACM_LOG_LEVEL_OFF=y

CONFIG_LOG_MAX_LEVEL=4
CONFIG_LOG_SPEED=y
CONFIG_SIZE_OPTIMIZATIONS=n
CONFIG_SPEED_OPTIMIZATIONS=y

CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_LINE_CTRL=y
