/ {
    /*
     * 0ms: No delay? report as fast as possible
     * 1ms: 1000Hz
     * 2ms: 500Hz
     * 4ms: 250Hz
     * 8ms: 125Hz
     */
    rrl {
        values-ms = <0 1 2 4 8>;
    };

    /*
     * one step: 0.125
     * min value: 0.1
     * max value: 1 (8 steps)
     */
    sens {
        step = <125>;
        min-step = <1>;
        max-step = <8>;
    };

    scrlsens {
        step = <125>;
        min-step = <1>;
        max-step = <8>;
    };
};